
notebooks/.ipynb_checkpoints/ecommerce_sentiment_analysis-checkpoint.ipynb
data_set/.DS_Store
data_set/ecommerce_review/.DS_Store
data_set/ecommerce_review/.ipynb_checkpoints/data-checkpoint.csv
*.pkl
